<div class="formNewCorral">
  <h3 style="margin-bottom: 2%;">Agregar corral</h3>
<form (ngSubmit)="saveCorral(formCorral)" #formCorral="ngForm">
<div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="name" id="staticEmail" [(ngModel)]="corral.name">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Capacidad</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" name="capacity" id="inputPassword" [(ngModel)]="corral.capacity">
    </div>
  </div>
  <div style="text-align: center;">
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>
</div>